body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

.icon {
  font-size: 4rem;
}

/************************************************************************
                                Main Styles
 ************************************************************************/  
h1{
    /* to match the same space as the emohis element, 
    add 8px for the left margin */
    margin:10px 8px;
}
.emojis{
    /* use grid to display the emojis in a 2x2 layout */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.emoji{
    /* use flexbox to center and align the content of each emoji element */
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

.icon{
    /* resize the icon to be smaller than the default size */
    font-size: 3.5rem;
}
/* gave each child element an order value 
to control the order of the elements in the flexbox layout */
.emoji > h2{
    order: 2;
    /* set the width to 100% to make the h2 element 
    take up the full width of the emoji element */
    width: 100%;
}
.emoji > span{
    order: 1;
}
.emoji > p{
    order: 3;
    /* gave the paragraph element a margin of 10px on the top and bottom 
    to create some space between the elements */
    margin: 10px 0;
}
.emoji > a{
    order: 4;
    /* set the width to 100% to make the bottom link 
    take up the full width of the emoji element */
    width: 100%;
}
/* set the 1st and 2nd emoji elements 80px height to match the examle image space,
and the 3rd and 4th emoji elements 110px height to match the example image space */
.emoji:nth-child(1) > p, .emoji:nth-child(2) > p{
    height: 80px;
}
.emoji:nth-child(3) > p, .emoji:nth-child(4) > p{
    height: 110px;
}
